@font-face {
    font-family: LostPet;
    src: url('../fonts/m46.TTF') format("truetype");
}

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration:inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

/* clearfix */
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: block;
}

html, body {
    height: 100%;
    color: black;
}

* html .clear {
    height: 1%;
}

a {
    color: #37e;
    text-decoration: underline;
    text-shadow: 0px 2px 0px #fff;
}

a:hover{
    color: #222;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #52c2fd;
    padding: 0;
    margin: 0;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    text-shadow: 0px 2px 0px #efefef;
}

canvas {
    z-index: 10000000;
}

#container{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -107px;
}

#mainwrapper {
    display: block;
    overflow: auto;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 96%;
}

#main {
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 1;
    height: 96%;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: relative;
    z-index: 100;
}

footer, .push {
    height: 176px;
}

.push {
    margin-top: -70px;
}

#footextras {
    display: block;
    width: 100%;
    height: 62px;
}

img#city {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -36px;
    margin-bottom: 28px;
    position: relative;
    z-index: 1;
}
img#lowcloud {
    float: left;
}

#sidewalk {
    display: block;
    margin-top: -28px;
    height: 118px;
    background-image:url('../images/Ground_Tile.png');
}

img#topcloud {
    position: fixed;
    left: 0;
    top: 0;
}

img#rtcloud {
    position: fixed;
    right: 0;
    top: 50%;
}

p#tagline {
    display: block;
    font-family: LostPet;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20pt;
    color: #ff21af;
    margin-top: 3px;
    margin-bottom: 9px;
}

p#byline {
    display: block;
    font-family: LostPet;
    text-align: center;
    font-size: 13pt;
    color: #ff21af;
    margin-top: 3px;
}

#main iframe {
    display: block;
    margin-top: 5px;
    border: 4px solid #299fde;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#boxwrap{
    display: block;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 432px;
    height: 120px;
    clear: both;
}

#boxtop{
    display: block;
    height: 8px;
    width: 432px;
    background-image: url('../images/boxtop.png');
}

#boxbottom{
    display: block;
    height: 8px;
    width: 432px;
    background-image: url('../images/boxbottom.png');
}

#boxmain {
    display: block;
    min-height: 120px;
    width: 432px;
    padding-right: 40px;
    padding-left: 11px;
    background-image: url('../images/boxmiddle.png');
    background-repeat: repeat-y;
    color: #555;
    font-size: 10pt;
}

#boxtext{
    display: block;
    width: 410px;
}

#main-bottom {
    display: block;
    height: 1px;
    margin-bottom: 40%;
}

/* Button styles from the awesome: http://www.webdesignerwall.com/demo/css-buttons.html */

.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}
